{% load static %}
<!-- Instagram items-->
<section>
  <div class="instagram-section-title d-none d-sm-block"><i class="fab fa-instagram mr-2"></i>Follow on Instagram @jashandeep_ghatrora</div>
  <div class="container-fluid px-0">
    <div class="row">
      <div class="col-lg-2 col-4 p-0"><a class="d-block instagram-item" href="#"><img class="img-fluid" src="{% static "img/instagram-1.jpg"%}" alt="">
          <div class="instagram-item-overlay"><i class="fab fa-instagram"></i></div></a></div>
      <div class="col-lg-2 col-4 p-0"><a class="d-block instagram-item" href="#"><img class="img-fluid" src="{% static "img/instagram-2.jpg"%}" alt="">
          <div class="instagram-item-overlay"><i class="fab fa-instagram"></i></div></a></div>
      <div class="col-lg-2 col-4 p-0"><a class="d-block instagram-item" href="#"><img class="img-fluid" src="{% static "img/instagram-3.jpg"%}" alt="">
          <div class="instagram-item-overlay"><i class="fab fa-instagram"></i></div></a></div>
      <div class="col-lg-2 col-4 p-0"><a class="d-block instagram-item" href="#"><img class="img-fluid" src="{% static "img/instagram-4.jpg"%}" alt="">
          <div class="instagram-item-overlay"><i class="fab fa-instagram"></i></div></a></div>
      <div class="col-lg-2 col-4 p-0"><a class="d-block instagram-item" href="#"><img class="img-fluid" src="{% static "img/instagram-5.jpg"%}" alt="">
          <div class="instagram-item-overlay"><i class="fab fa-instagram"></i></div></a></div>
      <div class="col-lg-2 col-4 p-0"><a class="d-block instagram-item" href="#"><img class="img-fluid" src="{% static "img/instagram-6.jpg"%}" alt="">
          <div class="instagram-item-overlay"><i class="fab fa-instagram"></i></div></a></div>
    </div>
  </div>
</section>
