{% load static %}
<!-- Top categories-->
<section class="pb-5">
  <div class="container pb-4">
    <div class="row mb-5 pb-4">
      {% for category in categories|slice:"0:3"  %}
      <div class="col-lg-4 mb-4 mb-lg-0"><a class="category-block bg-center bg-cover" style="background: url({{category.image.url}})" href="{% url 'category' category.id category.slug %}"><span class="category-block-title">{{category.name}}</span></a></div>
      {% endfor %}
    </div>
    {% include "core/components/newletter.html" %}
  </div>
</section>
